$default: #363636;
$active: #FF7527;
$navigation:#06AAB5;

%productSans-900{
  font-family: 'Product Sans Black', sans-serif;
  font-weight: 900;
}
%productSans-500{
  font-family: 'Product Sans Medium', sans-serif;
  font-weight: 500;
}
%productSans-700{
  font-family: 'Product Sans', sans-serif;
  font-weight: 700;
}
%sfUiDisplay-400{
  font-family: 'SF UI Display', sans-serif;
  font-weight: 400;
}
%sfUiDisplay-500{
  font-family: 'SF UI Display Medium', sans-serif;
  font-weight: 500;
}
%gilroyBold-700{
  font-family: 'Gilroy-Bold', sans-serif;
  font-weight: 700;
}
%gilroySemiBold-600{
  font-family: 'Gilroy-Semi-Bold', sans-serif;
  font-weight: 600;
}
